{% include 'header.html' %}
<body>
<center>
<img src='/static/mtg.jpg' /><br>

{% if error %}
<font color='red'>Failed to lookup up the following cards:<br>
  {% for e in error %}
    <b>* {{ e }}</b><br>
  {% endfor %}
</font>
{% endif %}

<form name="form" action="." method="POST">
{% csrf_token %}
<textarea cols="50" rows="25" name="deck">
{% if data %}{{ data }}{% else %}1 Giant Growth{% endif %}
</textarea><br>
<input type="submit" value="Price Deck!" />
</form>
{% include 'footer.html' %}
