<html>
<head>
<title>Deck Price</title>
</head>

<body>
<h1>Magic the Gathering Deck Price</h1>
<h3><a href='.'>Price New Deck</a></h3>
<b>Direct Link:</b> <a href='{{ short }}'>{{ short }}</a><br><br>
<table cellpadding='4' width='575'>
  <tr bgcolor='black'>
 	 <td width='50'><font color='white'><b>#</b></font></td>
	 <td width='325'><font color='white'><b>Card</b></font></td>
	 <td width='75'><font color='white'><b>Each</b></font></td>
	 <td width='75'><font color='white'><b>Total</b></font></td>
  </tr>

  {% for r in results %}
  <tr>
	 <td>{{ r.count }}</td>
	 <td><a href='gatherer/{{ r.name }}'><font color='blue'>{{ r.name }}</font></a></td>
	 <td><a href='http://magic.tcgplayer.com/db/magic_single_card.asp?cn={{ r.name }}'><font color='blue'>${{ r.price_each }}</font></a></td>
	 <td><a href='http://magic.tcgplayer.com/db/magic_single_card.asp?cn={{ r.name }}'><font color='blue'>${{ r.price }}</font></a></td>
  </tr>
  {% endfor %}
</table>

<table width='575' cellpadding='15'>
  <tr>
	 <td align='right'>
	  <b>Total Price: {{ total }}</b>
	 </td>
  </td>
</table>

</body>
</html>
